#chat-input__wrapper{
    position: relative;

    .chat-history{
        display: inline-block;
        width: 100%;
        height: 350px;
        background-color: #FFF;
        border-right: 0;
        border-left: 0;
        overflow-y: scroll;
        padding: 0 10px;
    }

    .chat-msg__wrapper{
        display: block;
        margin-bottom: 15px;

        h1,h2,h3,h5,h6,p,ol,ul,li{
            margin: 0;
            color: $softBlack;
            font-family: 'Lato', Helvetica, sans-serif;
        }
    }

    .chat-history-wrapper{
        position: relative;
        overflow-y: auto;
        height: 318px;

        .chat-history{
            position: absolute;
            bottom: 0;
        }
    }
}
