*{
    box-sizing: border-box;
}

body,
html{
    overflow: hidden;
    font-size: 10px;
}

body{
    height: 100vh;
}

#main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    background: $black;
    overflow-y: auto;
    padding: 68px 0 0;

    .code-bucket{
        flex: 10;
    }

    #chat__sidebar-wrapper{
        flex: 5;
        max-width: 270px;
        min-width: 200px;

        .user-wrapper{
            display: inline-block;
            width: 100%;
            margin-top: 20px;
        }
    }

    #users__sidebar{
        flex: 2;
        min-width: 200px;
        max-width: 300px;
        padding: 10px;
        background: $dmTurq;
    }

    .code-bucket{
        height: 100%;
    }

    #code-mirror__form{
        height: 100%;
    }
    .CodeMirror{
        height: 100%;
        border: 0;

        .CodeMirror-scroll{
            padding: 0;
        }
    }
}
