header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 65px;

    #header__branding{
        background: $dmPurp;
        padding: 7px 20px 4px;
    }

    #header-toolbar{
        background: $black;
    }

    section{
        width: 100%;
    }

    .logo{
        width: 300px;
        height: 30px;
        align-self: flex-start;
    }

    h1{
        margin: 0;
        line-height: 1;
        float: right;
    }
}
