#tags__sidebar{
    h4{
        color: $white;
        text-transform: uppercase;
        padding: 0 5px;
        font-size: 1.2rem;
        margin: 20px 0 0;
    }

    .tags{
        padding: 5px;
        list-style: none;

        .tag{
            display: inline-block;
            float: left;
            white-space: nowrap;
            background: $white;
            color: $black;
            border: 1px solid black;
            padding: 5px;
            cursor: pointer;

            &:hover{
                color: $white;
                background: $black;
            }
        }
    }

    .tag__form{
        clear: both;
        padding: 5px 0;
        width: 100%;
    }
}
