#header-toolbar{
    z-index: 5;
    width: 100%;
    padding: 0 20px;

    .border-wrap{
        height: 100%;
        position: relative;
    }

    .inner-wrap{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .actions{
        display: flex;
        flex-direction: row;
        align-self: flex-start;
    }

    label{
        font-size: 1.2rem;
        color: $white;
    }

    input{
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        border: 1px solid $softBlack;
        border-right: 0;
        background: $white;
        font-size: 1rem;
        padding: 2px 6px 3px;
        margin-right: -1px;
        color: $softBlack;
    }

    select{
        font-size: 1.2rem;
    }

    button{
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        -webkit-appearance: none;
        appearance: none;
        border: 1px solid $softBlack;
        border-radius: 2px;
        background: $white;
        font-size: 1rem;
        color: $softBlack;

        &:hover{
            background: $softBlack;
            color: $white;
        }
    }
}

.actions{
    > div{
        margin-right: 10px;
    }
}

.load--action{
    button{
        border-left: 0;
        border-radius: 0 2px 2px 0;
    }
}

#toolbar-prefs{
    display: flex;
    flex-direction: row;
    align-self: flex-start;

    .option{
        margin-left: 10px;
    }
}

#tools__wrapper{
    aside{
        display: none;
    }
}

#tags-input__wrapper{
    margin-top: 10px;

    form{
        width: 100%;

        input{
            width: 90%;
        }

        button{
            width: 10%;
        }
    }
}

#chat-input__wrapper{

    #chat-history{
        max-height: 40vh;
        overflow-y: auto;
    }

    #chat__form{
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: 98%;

        input{
            width: 90%;
        }
        button{
            width: 10%;
        }
    }
}
